# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/*
# exclude everything
datasets/*
RAW-deploy/shared/datashets*/*
# exception to the rule
!datasets/.gitkeep



# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/
RAW-deploy/
exaswarm-utils/activeWorkers.sh
exaswarm-utils/clearConsul.sh
exaswarm-utils/config.sh
exaswarm-utils/consul_url.conf
exaswarm-utils/createNetwork.sh
exaswarm-utils/docker-compose.yml
exaswarm-utils/start.sh
exaswarm-utils/startmaster.sh
exaswarm-utils/startworkers.sh
exaswarm-utils/stop.sh
imageBuild/Dockerfile.notready
imageBuild/bootstrap.sh
imageBuild/build.sh
imageBuild/rawreq.sh
imageBuild/requirements.txt
trash/
