# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/*
# exclude everything
datasets/*
RAW-deploy/shared/datashets*/*
# exception to the rule
!datasets/.gitkeep

RAW-deploy/shared/datasets-n0/*
RAW-deploy/shared/datasets-n1/*
RAW-deploy/shared/datasets-n2/*

!RAW-deploy/shared/datasets-n0/.gitkeep
!RAW-deploy/shared/datasets-n1/.gitkeep
!RAW-deploy/shared/datasets-n2/.gitkeep


RAW-deploy/shared/raw-admin-n0/conf/.httpasswd
RAW-deploy/shared/raw-admin-n1/conf/.httpasswd
RAW-deploy/shared/raw-admin-n2/conf/.httpasswd

RAW-deploy/docker-compose-node-n0.yml
RAW-deploy/docker-compose-node-n1.yml
RAW-deploy/docker-compose-node-n2.yml

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml


